/* Use your own code or past solution for Great Idea Web Page CSS here! */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */


/* Mobile */

@media(max-width: 500px) {
    nav {
        height: 600px;
        margin: 30px;
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: center;
    }

     .logo {
        display: block;
        width: 80%;
        height: auto;
    } 

    .header-section {
        width: 100%;
    }

    .header-section .container {
        width: 100%;
        height: 300px;
        padding-right: 50px;
    }

    .header-section h1 {
        margin-left: 100px;
        padding: 30px 220px;
        width: 180%;
        height: 250px;
    }

    a {
        height: 90px;
        width: 100%;
        padding: 50%;
        border: 1px solid gray;
    }

    .header-section #code-globe {
        display: none;
    }

    .header-section .home-button {
        background-color: white;
        color: black;
        text-align: center;
        margin: 200px;
        padding: 30px;
        height: 70px;
        width: 50%;
        border: 2px solid black;
        border-radius: 20px;
    }

    #features {
        padding-top: 0px;
        margin-bottom: 70px;
    }



    #features .container2 {
        flex-direction: column;
        width: 100%;
        height: 350px;
        padding-bottom: 50px;
    }

    #features h4 {
        margin-top: 40px;
        font-weight: 700px;
    }

    #features p {
        display: grid;
        grid-template-rows: 60px 60px 60px;
        width: 90%;
    }

    #features .container2 .description-section {
        display: grid;
        grid-template-rows: 60px 60px 60px;
        width: 90%;
    }

    hr {
        border-top: 2px solid black;
    }

   #features .middle-img {
        margin-top: 30px;
        margin-left: 20px;
        display: block;
        width: 90%;
        height: auto;
    }
    
    #features .container3 {
        flex-direction: column;
        width: 100%;
        height: 650px;
        padding-bottom: 50px;
    }

    #features .container3 .content-section {
        display: grid;
        grid-template-rows: 60px 60px 60px;
        width: 90%;
    }

    #bottom-section footer {
        display: inline-block;
        margin-left: 50px;
        width: 90%;
    }
}

/* Home Page */
 
nav {
    margin: 20px 0;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
}
/* Tablet-View */
@media (max-width: 800px) {
    .header-section .logo {
        margin: 20px 200px;
        width: 50%;
        height: 80px;
    }

    .header-section nav {
        width: 100%;
        display: flex;
    }
    .header-section #code-globe {
        display: none;
    }

}

a {
    text-decoration: none;
    color: gray;
    padding: 30px;
    font-size: 20px;
}

/* Tablet-View */
@media (max-width: 800px) {
    .header-section a {
        width: 100%;
    }
}

a:hover {
    color: red;
}

h1 {
    font-size: 70px;
}
/* Tablet-View */
@media (max-width: 800px) {
    h1 {
        margin: 0;
        padding: 30px 220px;
        width: 90%;
        height: 250px;
    }
}

.home-button {
    height: 60px;
    width: 200px;
    margin: 30px 300px;
    font-size: 15px;
}
/* Tablet-View */
@media (max-width: 800px) {
    .home-button {
        margin-top: 0;
        margin-bottom: 100px;
    }
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 1250px;
    height: 500px;
}
/* Tablet-View */
@media (max-width: 800px) {
    .container {
        width: 100%;
        height: 300px;
    }
}

.container2 {
    height: 200px;
    width: 1250px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
/* Tablet-View */
@media (max-width: 800px) {
    .container2 {
         width: 100%;
         height: 200px;
         padding: 20px;
    }
}

.description-section {
    height: 150x;
    width: 500px;
    font-size: 20px;
}

.middle-img {
    margin: 15px 200px;
}
/* Tablet View */
@media (max-width: 800px) {
    #features .middle-img {
        margin-top: 30px;
        margin-left: 20px;
        display: block;
        width: 90%;
        height: auto;
    }

    #features p {
        padding: 20px;
    }
}

.container3 {
    height: 350px;
    width: 1250px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/* Tablet View */ 
@media (max-width: 800px) {
    #features .container3 {
        width: 100%;
        padding-bottom: 40px;
    }
}

.content-section {
    height: 150px;
    width: 300px;
    font-size: 20px;
}

address {
    font-size: 20px;
    line-height: 1.5;
    margin: 65px;
}

footer {
    font-size: 20px;
    margin: 20px 500px;
}

/* Tablet View */
@media (max-width: 800px) {
    #bottom-section footer {
        display: inline-block;
        margin-left: 50px;
        width: 90%;
    }
}

 